#titulo {
    text-align: center;
}
body{
    background-color: #e6adad;
}
/* usa esse para colocar comentario no css*/
h2{
    color:blue;
    text-align:right;
    font-size:30px;
}
.texto{
   color: brown;
    text-align: left;
}
em strong {
    color: #FF0000;
}