#titulo {
    text-align: center;
}
body{
    background-color: #070707;
}
/* usa esse para colocar comentario no css*/
h2{
    color:blue;
    text-align:right;
    font-size:30px;
}
.texto{
   color: rgb(9, 41, 3)65)1, 3, 3);
    text-align: left;
}
em strong {
    color: #FF0000;
}